/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*********** BEGIN CSS RESET ***********/
/* line 25, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 46, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 50, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
body {
  line-height: 1;
}

/* line 53, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
ol, ul {
  list-style: none;
}

/* line 56, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
blockquote, q {
  quotes: none;
}

/* line 59, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 64, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********* END CSS RESET *********/
/********* FONTS *****************/
/* Webfont: ConduitITC-Light */
@font-face {
  font-family: 'ConduitITCLight';
  src: url(/assets/ConduitITC-Light1-404bb5675d7661fd8231d729191968e1fb0677e4f1e021f11d56fe555b10fa63.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ConduitITC-Light1-404bb5675d7661fd8231d729191968e1fb0677e4f1e021f11d56fe555b10fa63.eot?#iefix) format("embedded-opentype"), url(/assets/ConduitITC-Light1-658cc1556322745deb292c65c58b517c38e6898d501343b76751d68a5d6777ae.woff) format("woff"), url(/assets/ConduitITC-Light1-b503dab641a0c7091da1a70511dccc2c762ff5a4fef9bd8bf20d1f1afdcbbcdf.ttf) format("truetype"), url(/assets/ConduitITC-Light1-067e55038ee683e22b86b062a3c16bfb40e6d46535fdd99952c48d1b4a647014.svg#ConduitITC-Light) format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: ConduitITC-LightItalic */
@font-face {
  font-family: 'ConduitITCLightItalic';
  src: url(/assets/ConduitITC-LightItalic-9a8e664ece24e719fae105b4dbc75ed74b69d1253bbd78f6d4a02efa45a6c6e4.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ConduitITC-LightItalic-9a8e664ece24e719fae105b4dbc75ed74b69d1253bbd78f6d4a02efa45a6c6e4.eot?#iefix) format("embedded-opentype"), url(/assets/ConduitITC-LightItalic-eeb44e94cedee265cba92ad711784fa2791095605a9ead808fe99882a024a1b6.woff) format("woff"), url(/assets/ConduitITC-LightItalic-5ae0ade36055f8918d4242574735848378e814008bd7379c5a3094a598512827.ttf) format("truetype"), url(/assets/ConduitITC-LightItalic-96b6b9b071e8dafec75d6a854b1b07d442500ec9339e2daf6eb98def1a0c9afb.svg#ConduitITC-LightItalic) format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: ConduitITC-Medium */
@font-face {
  font-family: 'ConduitITCMedium';
  src: url(/assets/ConduitITC-Medium-078519a989895a6baeeb6a1f6925333101181375647854bfe899b2cad8102b01.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ConduitITC-Medium-078519a989895a6baeeb6a1f6925333101181375647854bfe899b2cad8102b01.eot?#iefix) format("embedded-opentype"), url(/assets/ConduitITC-Medium-4dbb79a326ac1630b0183ceb0854ac0621674951c5c803eb4d5872d0d6b3c6c8.woff) format("woff"), url(/assets/ConduitITC-Medium-0c5b579bef30452fad0c39371a10b80bf4cff449fe8a064a9600f3d2b7be8b8b.ttf) format("truetype"), url(/assets/ConduitITC-Medium-30f9dbf2a39e8b3c9c12f93385ee031b8c90f1e692f42081429e3448fc1f37ec.svg#ConduitITC-Medium) format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: ConduitITC-MediumItalic */
@font-face {
  font-family: 'ConduitITCMediumItalic';
  src: url(/assets/ConduitITC-MediumItalic-dc5c61022faf40289cb0929680c6bd1d39a53e0b2e6d0cecc082693e4ade853b.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ConduitITC-MediumItalic-dc5c61022faf40289cb0929680c6bd1d39a53e0b2e6d0cecc082693e4ade853b.eot?#iefix) format("embedded-opentype"), url(/assets/ConduitITC-MediumItalic-cece0963eaecccfcb47f472633a3519a73903c9d495d2a980a36489551fbceef.woff) format("woff"), url(/assets/ConduitITC-MediumItalic-b0ffd12078e25cdff9c17e4b339a2fa158fb92b8d75a49c060dcf340fcfda7f7.ttf) format("truetype"), url(/assets/ConduitITC-MediumItalic-2c1be779687d5732732bf52e6e7acc8da87dc7a12d730873543ae63be048c470.svg#ConduitITC-MediumItalic) format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: ConduitITC-Bold */
@font-face {
  font-family: 'ConduitITCBold';
  src: url(/assets/ConduitITC-Bold-a3cb562b6b26300d90caafd4ac4243731a6b34a21d8976851e8a9fa51c36bda9.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ConduitITC-Bold-a3cb562b6b26300d90caafd4ac4243731a6b34a21d8976851e8a9fa51c36bda9.eot?#iefix) format("embedded-opentype"), url(/assets/ConduitITC-Bold-35ea2657843fc551dfe4d6832a943cfaf7b761e7d137f4e6d09e581cd0403469.woff) format("woff"), url(/assets/ConduitITC-Bold-47fdc2002e70af962e0a8f5089077994b5a0c8e42b336d3bf51f9049bc07854b.ttf) format("truetype"), url(/assets/ConduitITC-Bold-2b5c40c1b02b285a6db7da382b69f9f4f19b0cb911af9be771547a79f9ac314f.svg#ConduitITC-Bold) format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Webfont: ConduitITC-BoldItalic */
@font-face {
  font-family: 'ConduitITCBoldItalic';
  src: url(/assets/ConduitITC-BoldItalic-2b3fa6226e02dd66b387d4dc20ff4cf324e7b72cb42c0709e15be13bb8077880.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ConduitITC-BoldItalic-2b3fa6226e02dd66b387d4dc20ff4cf324e7b72cb42c0709e15be13bb8077880.eot?#iefix) format("embedded-opentype"), url(/assets/ConduitITC-BoldItalic-321acf31625a6ff0777eb8a4390ab3c399e371d072858da7586a1fb7f85f9a99.woff) format("woff"), url(/assets/ConduitITC-BoldItalic-310b04c0f8b87678bca2ca85a94fbbf05a9fb1b4caf1f5bcd717de54694f6fb7.ttf) format("truetype"), url(/assets/ConduitITC-BoldItalic-10d3ff19685be7240b7bf4b862e02e2b2f099709dcc57896c4f0681b8f37d497.svg#ConduitITC-BoldItalic) format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/********* END FONTS *************/
/* line 148, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
body {
  margin: 15px 0 0 0;
  font-family: "ConduitITCLight", Arial, Helvetica, sans-serif;
}

/* line 153, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6, nav {
  font-family: "ConduitITCMedium", Arial, Helvetica, sans-serif;
  color: #404040;
}

/* line 158, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
}
/* line 160, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
a:link, a:visited {
  color: #404040;
}
/* line 163, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
a:hover {
  border-bottom: 2px solid #404040;
}

/* line 168, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
header {
  margin: auto;
  text-align: center;
}
/* line 171, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
header h1, header h2 {
  font-family: "ConduitITCBoldItalic", Arial, Helvetica, sans-serif;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
/* line 176, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
header h1 {
  font-size: 3.125em;
  margin-bottom: 0.25em;
}
/* line 180, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
header h2 {
  font-size: 1.5em;
}
/* line 183, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
header .logo {
  width: 67px;
  height: 58px;
  display: inline-block;
  background: url(/assets/icon_sprite-4229e56120d4b3aafde4ca56e56174740c08cddccea2bcf3d5575134a43084fe.png) no-repeat 0 0;
  margin-bottom: -0.25em;
}

/* line 192, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
#menu_btn {
  display: none;
}

/* line 197, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul {
  font-size: 1em;
  margin-top: 42px;
  text-align: center;
  width: 100%;
  min-width: 610px;
}
/* line 203, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li {
  display: inline-block;
  margin: 0 24px;
  padding: 14px;
  position: relative;
  height: 16px;
  text-transform: uppercase;
}
/* line 210, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:before, nav ul li:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
}
/* line 217, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:before {
  left: -44px;
  border-left: 44px solid transparent;
  border-bottom: 44px solid;
}
/* line 222, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:after {
  right: -44px;
  border-right: 44px solid transparent;
  border-top: 44px solid;
}
/* line 227, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(1) {
  background-color: #FCCA6B;
}
/* line 229, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(1):before {
  border-bottom-color: #FCCA6B;
}
/* line 232, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(1):after {
  border-top-color: #FCCA6B;
}
/* line 236, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(2) {
  background-color: #50C6E3;
}
/* line 238, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(2):before {
  border-bottom-color: #50C6E3;
}
/* line 241, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(2):after {
  border-top-color: #50C6E3;
}
/* line 245, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(3) {
  background-color: #9F8BD8;
}
/* line 247, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(3):before {
  border-bottom-color: #9F8BD8;
}
/* line 250, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li:nth-child(3):after {
  border-top-color: #9F8BD8;
}
/* line 254, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
nav ul li.current {
  font-size: 1.5em;
}

/* line 261, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
#container {
  margin: 30px 0 90px 0;
  overflow: hidden;
}

/* line 266, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
.padded_container {
  padding: 0 120px;
}

/* line 270, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer {
  text-align: center;
  background-color: #404040;
  padding: 32px 0;
  color: #FFF;
}
/* line 275, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer:before {
  content: ' ';
  display: block;
  clear: both;
}
/* line 280, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link {
  margin: 20px 3px 40px 3px;
  width: 120px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 285, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link a {
  color: #FFF;
}
/* line 287, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link a:hover {
  border-bottom: 1px solid #FFF;
}
/* line 290, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link a span.icon {
  display: block;
  background: url(/assets/icon_sprite-4229e56120d4b3aafde4ca56e56174740c08cddccea2bcf3d5575134a43084fe.png) no-repeat;
  width: 45px;
  height: 39px;
  margin: 0 auto 10px auto;
}
/* line 296, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link a span.icon.github {
  background-position: -68px 0px;
}
/* line 299, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link a span.icon.linkedin {
  background-position: -114px 0px;
}
/* line 302, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer li.ex_link a span.icon.instructables {
  background-position: -160px 0px;
}
/* line 308, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
footer p {
  font-size: 0.8em;
}

@media screen and (max-device-width: 750px) {
  /* line 314, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  header {
    margin-left: 3vw;
    width: 75vw;
  }
  /* line 317, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  header h1 {
    font-size: 7.1vw;
  }
  /* line 319, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  header h1 .logo {
    width: 10vw;
    height: 8.5vw;
    background-size: 30vw;
  }
  /* line 325, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  header h2 {
    font-size: 3.2vw;
  }

  /* line 329, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  #menu_btn {
    display: block;
    width: 15vw;
    height: 5px;
    border: 10px solid #50C6E3;
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #FFF;
  }
  /* line 338, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  #menu_btn:before {
    content: " ";
    display: block;
    position: absolute;
    top: -35px;
    left: -10px;
    border: 10px solid #FCCA6B;
    width: 15vw;
    height: 5px;
    background-color: #FFF;
  }
  /* line 349, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  #menu_btn:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -35px;
    left: -10px;
    border: 10px solid #9F8BD8;
    width: 15vw;
    height: 5px;
    background-color: #FFF;
  }
  /* line 360, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  #menu_btn a {
    position: relative;
    color: #FFF;
  }

  /* line 365, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  nav {
    display: none;
  }
  /* line 367, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  nav ul li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px 0;
  }
  /* line 372, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/application.scss */
  nav ul li:before, nav ul li:after {
    content: none;
  }
}
