/* line 6, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash {
  overflow: hidden;
}
/* line 8, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#dev_design {
  background: url(/assets/dev_design_splash_bkgd-9988bb67726a46baa5eeb69eea5c32f75a9f740a23797a70340382a0a0a52525.png) no-repeat center;
}
/* line 11, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu {
  background: url(/assets/edu_splash_bkgd-40fcb1e581ef17b531c2e37c4f4b295664030e03593494d4b07dcf3027ad0eae.png) no-repeat left;
}
/* line 13, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .left_side {
  width: 100%;
}
/* line 15, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .left_side:before {
  border-top: 580px solid #9F8BD8;
}
/* line 18, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .left_side:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 3em solid transparent;
  border-bottom: 3em solid #FFF;
}
/* line 29, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .blurb {
  width: 30%;
  left: 60%;
  top: 50%;
  bottom: inherit;
  right: inherit;
}
/* line 37, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side, .splash .right_side {
  float: left;
  width: 50%;
  height: 580px;
  position: relative;
}
/* line 42, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side h2, .splash .right_side h2 {
  text-transform: uppercase;
}
/* line 47, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 580px solid transparent;
  border-top: 580px solid #E5954D;
}
/* line 58, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side .splash_section_header:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -1px;
  /* because it leaves a line at the top otherwise */
  left: -3em;
  border-left: 3em solid transparent;
  border-top: 3em solid #FFF;
}
/* line 68, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side .splash_section_header h2 {
  padding-top: 0.375em;
  padding-left: 0.5em;
}
/* line 75, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 580px solid transparent;
  border-bottom: 580px solid #50C6E3;
}
/* line 85, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .splash_section_header {
  position: absolute;
  right: 1.5em;
  bottom: 0;
}
/* line 89, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .splash_section_header:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: -3em;
  border-right: 3em solid transparent;
  border-bottom: 3em solid #FFF;
}
/* line 99, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .splash_section_header h2 {
  text-align: right;
  position: absolute;
  top: -0.375em;
  right: 0.5em;
}
/* line 107, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .splash_section_header {
  background-color: #404040;
  height: 3em;
  width: 532px;
  margin-left: 1.5em;
  transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
}
/* line 116, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .splash_section_header h2 {
  transform: skew(45deg);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  font-size: 5.7em;
  font-family: "ConduitITCLight", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: #FFF;
  opacity: 0.5;
  line-height: 0.8em;
  width: 9em;
}
/* line 130, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb {
  width: 70%;
  min-width: 150px;
  position: absolute;
  padding: 0 2em;
  background: rgba(255, 255, 255, 0.7);
}
/* line 136, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb p {
  font-size: 1.5em;
  font-family: "ConduitITCLightItalic", Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  margin-bottom: 0.5em;
}
/* line 142, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .continue {
  font-size: 1.25em;
  font-family: "ConduitITCBold";
  float: right;
}
/* line 147, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  height: 2em;
  width: -moz-calc(100% - 2em);
  width: -webkit-calc(100% - 2em);
  width: calc(100% - 2em);
}
/* line 154, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.top {
  right: 0;
  top: -2em;
}
/* line 157, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.top:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: -2em;
  border-left: 2em solid transparent;
  border-bottom: 2em solid rgba(255, 255, 255, 0.7);
}
/* line 168, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.bottom {
  left: 0;
  bottom: -2em;
}
/* line 171, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.bottom:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  right: -2em;
  border-right: 2em solid transparent;
  border-top: 2em solid rgba(255, 255, 255, 0.7);
}
/* line 184, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side .blurb {
  right: 20px;
  bottom: calc(50% - 20px);
}
/* line 188, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .blurb {
  left: 0;
  top: 50%;
}

/* line 194, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#featured_projects {
  min-width: 750px;
  margin: 55px 0 40px 0;
}
/* line 197, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#featured_projects h3.featured {
  font-size: 1.125em;
  text-transform: uppercase;
}
/* line 200, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#featured_projects h3.featured .projects_link {
  margin-left: 1em;
  text-transform: none;
}

/* line 207, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box {
  width: 33%;
  max-width: 300px;
  margin: 1.5%;
  float: left;
  overflow: hidden;
  height: 200px;
  position: relative;
}
/* line 215, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 7em solid transparent;
  border-top: 7em solid rgba(255, 255, 255, 0.6);
}
/* line 225, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: -1em;
  border-left: 3em solid transparent;
  border-bottom: 3em solid #FFF;
}
/* line 235, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_image {
  position: relative;
  z-index: -2;
}
/* line 239, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_years {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3em 1em;
}
/* line 244, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_years:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 10em solid transparent;
  border-bottom: 10em solid #F1F1F1;
  z-index: -1;
}
/* line 258, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #404040;
  transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  width: 85%;
}
/* line 268, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_title h3 {
  text-transform: uppercase;
  padding: 0.5em 1em 1em 1.5em;
  margin: 0;
  transform: skew(45deg);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
}
/* line 276, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_title h3 a {
  color: #FFF;
}
/* line 278, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_title h3 a:link, .proj_box .proj_title h3 a:visited {
  color: #FFF;
}
/* line 281, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.proj_box .proj_title h3 a:hover {
  border-bottom: 2px solid #FFF;
}

/* line 289, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info {
  margin-top: 3em;
  background-color: #F1F1F1;
  display: inline-block;
  width: 100%;
}
/* line 295, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side, #project_page section.info .right_side {
  float: left;
  margin-top: -3em;
}
/* line 299, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side {
  width: 60%;
}
/* line 301, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side figure.cover_image {
  overflow: hidden;
}
/* line 303, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side figure.cover_image img {
  margin-left: -moz-calc(50% - 500px);
  margin-left: -webkit-calc(50% - 500px);
  margin-left: calc(50% - 500px);
  display: block;
}
/* line 310, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side .caption_outer {
  position: absolute;
  left: 40%;
  bottom: 0px;
  margin-left: 10%;
}
/* line 315, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side .caption_outer .caption_corner {
  height: 0;
  width: 50%;
  min-width: 400px;
}
/* line 319, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side .caption_outer .caption_corner.top {
  border-bottom: 3em solid rgba(255, 255, 255, 0.7);
  border-left: 3em solid transparent;
}
/* line 323, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side .caption_outer .caption_corner.bottom {
  border-top: 3em solid rgba(255, 255, 255, 0.7);
  border-right: 3em solid transparent;
}
/* line 328, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side .caption_outer .caption_container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 1.5em;
  width: 50%;
  min-width: 400px;
}
/* line 333, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .left_side .caption_outer .caption_container figcaption {
  font-size: 1.5em;
  font-family: "ConduitITCMediumItalic", Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}
/* line 341, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .right_side {
  width: 40%;
  border-top: 3em solid #F1F1F1;
}
/* line 344, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .right_side dl {
  padding: 0 3em 3em 3em;
  font-family: "ConduitITCBold", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
/* line 348, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .right_side dl dt {
  color: #808080;
}
/* line 351, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.info .right_side dl dd {
  color: #404040;
  margin-bottom: 1em;
}
/* line 359, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.details .left_side, #project_page section.details .right_side {
  float: left;
  width: 50%;
  padding-top: 3em;
  padding-bottom: 3em;
}
/* line 366, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.details .left_side figure.detail_image {
  margin-bottom: 1em;
}
/* line 368, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.details .left_side figure.detail_image img {
  width: 100%;
}
/* line 374, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page section.details .right_side p.long_description {
  font-size: 1.2em;
  line-height: 1.2em;
  padding-left: 1em;
}
/* line 381, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page .page_title {
  height: 3em;
  width: 100%;
  margin-left: 1.5em;
  transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
}
/* line 389, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#project_page .page_title h2 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 2em;
  padding: .3em .8em;
  transform: skew(45deg);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
}

/* line 402, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.delete_link {
  background-color: red;
  padding: 4px;
  margin-left: 20px;
}
/* line 406, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.delete_link a {
  color: white;
}

@media screen and (max-device-width: 750px) {
  /* line 413, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash#dev_design {
    background: none;
  }
  /* line 415, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash#dev_design .left_side, .splash#dev_design .right_side {
    background-image: url(/assets/dev_design_splash_bkgd-9988bb67726a46baa5eeb69eea5c32f75a9f740a23797a70340382a0a0a52525.png);
    background-repeat: no-repeat;
  }
  /* line 420, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash#edu .blurb {
    top: 35%;
    bottom: inherit;
    left: 5%;
    right: 5%;
    width: 70%;
  }
  /* line 427, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .splash_section_header {
    width: 100vw;
  }
  /* line 429, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .splash_section_header h2 {
    max-width: 90vw;
  }
  /* line 433, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side, .splash .right_side {
    float: none;
    width: 100vw;
    height: calc(100vw + 3em);
  }
  /* line 437, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .splash_section_header h2, .splash .right_side .splash_section_header h2 {
    padding-top: 0.75em;
    font-size: 14vw;
  }
  /* line 441, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb, .splash .right_side .blurb {
    left: 5%;
    right: 5%;
  }
  /* line 444, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb p, .splash .right_side .blurb p {
    font-size: 6vw;
  }
  /* line 447, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb .continue, .splash .right_side .blurb .continue {
    font-size: 5vw;
  }
  /* line 452, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side {
    background-position: left bottom;
  }
  /* line 454, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side:before {
    border-right-width: 100vw;
    border-top-width: 100vw;
    top: 3em;
  }
  /* line 459, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb {
    top: 35%;
    bottom: inherit;
  }
  /* line 464, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side {
    background-position: right top;
  }
  /* line 466, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side:before {
    border-left-width: 100vw;
    border-bottom-width: 100vw;
    bottom: 3em;
  }
  /* line 471, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side .splash_section_header h2 {
    padding-top: 0;
  }
  /* line 474, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side .blurb {
    bottom: 35%;
    top: inherit;
  }

  /* line 480, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .proj_box {
    float: none;
    width: 100%;
  }
}
