/* line 6, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash {
  overflow: hidden;
}
/* line 8, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#dev_design {
  background: url(/assets/dev_design_splash_bkgd-9988bb67726a46baa5eeb69eea5c32f75a9f740a23797a70340382a0a0a52525.png) no-repeat center;
}
/* line 11, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu {
  background: url(/assets/edu_splash_bkgd-40fcb1e581ef17b531c2e37c4f4b295664030e03593494d4b07dcf3027ad0eae.png) no-repeat left;
}
/* line 13, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .left_side {
  width: 100%;
}
/* line 15, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .left_side:before {
  border-top: 580px solid #9F8BD8;
}
/* line 18, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .left_side:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 3em solid transparent;
  border-bottom: 3em solid #FFF;
}
/* line 29, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash#edu .blurb {
  width: 30%;
  left: 60%;
  top: 50%;
  bottom: inherit;
  right: inherit;
}
/* line 37, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side, .splash .right_side {
  float: left;
  width: 50%;
  height: 580px;
  position: relative;
}
/* line 42, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side h2, .splash .right_side h2 {
  text-transform: uppercase;
}
/* line 47, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 580px solid transparent;
  border-top: 580px solid #E5954D;
}
/* line 58, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side .splash_section_header:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: -1px;
  /* because it leaves a line at the top otherwise */
  left: -3em;
  border-left: 3em solid transparent;
  border-top: 3em solid #FFF;
}
/* line 68, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side .splash_section_header h2 {
  padding-top: 0.375em;
  padding-left: 0.5em;
}
/* line 75, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 580px solid transparent;
  border-bottom: 580px solid #50C6E3;
}
/* line 85, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .splash_section_header {
  position: absolute;
  right: 1.5em;
  bottom: 0;
}
/* line 89, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .splash_section_header:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: -3em;
  border-right: 3em solid transparent;
  border-bottom: 3em solid #FFF;
}
/* line 99, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .splash_section_header h2 {
  text-align: right;
  position: absolute;
  top: -0.375em;
  right: 0.5em;
}
/* line 107, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .splash_section_header {
  background-color: #404040;
  height: 3em;
  width: 532px;
  margin-left: 1.5em;
  transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
}
/* line 116, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .splash_section_header h2 {
  transform: skew(45deg);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  font-size: 5.7em;
  font-family: "ConduitITCLight", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: #FFF;
  opacity: 0.5;
  line-height: 0.8em;
  width: 9em;
}
/* line 130, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb {
  width: 70%;
  min-width: 150px;
  position: absolute;
  padding: 0 2em;
  background: rgba(255, 255, 255, 0.7);
}
/* line 136, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb p {
  font-size: 1.5em;
  font-family: "ConduitITCLightItalic", Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  margin-bottom: 0.5em;
}
/* line 142, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .continue {
  font-size: 1.25em;
  font-family: "ConduitITCBold";
  float: right;
}
/* line 147, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  height: 2em;
  width: -moz-calc(100% - 2em);
  width: -webkit-calc(100% - 2em);
  width: calc(100% - 2em);
}
/* line 154, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.top {
  right: 0;
  top: -2em;
}
/* line 157, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.top:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: -2em;
  border-left: 2em solid transparent;
  border-bottom: 2em solid rgba(255, 255, 255, 0.7);
}
/* line 168, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.bottom {
  left: 0;
  bottom: -2em;
}
/* line 171, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .blurb .edge.bottom:after {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  right: -2em;
  border-right: 2em solid transparent;
  border-top: 2em solid rgba(255, 255, 255, 0.7);
}
/* line 184, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .left_side .blurb {
  right: 20px;
  bottom: calc(50% - 20px);
}
/* line 188, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
.splash .right_side .blurb {
  left: 0;
  top: 50%;
}

/* line 195, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
#featured_projects h3 {
  font-size: 1.125em;
  margin: 55px 0 18px 0;
}

@media screen and (max-device-width: 750px) {
  /* line 203, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash#dev_design {
    background: none;
  }
  /* line 205, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash#dev_design .left_side, .splash#dev_design .right_side {
    background: url(/assets/dev_design_splash_bkgd-9988bb67726a46baa5eeb69eea5c32f75a9f740a23797a70340382a0a0a52525.png) no-repeat;
  }
  /* line 209, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .splash_section_header {
    width: 100vw;
  }
  /* line 211, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .splash_section_header h2 {
    max-width: 90vw;
  }
  /* line 215, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side, .splash .right_side {
    float: none;
    width: 100vw;
    height: calc(100vw + 3em);
  }
  /* line 219, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .splash_section_header h2, .splash .right_side .splash_section_header h2 {
    padding-top: 0.75em;
    font-size: 14vw;
  }
  /* line 223, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb, .splash .right_side .blurb {
    left: 5%;
    right: 5%;
  }
  /* line 226, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb p, .splash .right_side .blurb p {
    font-size: 6vw;
  }
  /* line 229, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb .continue, .splash .right_side .blurb .continue {
    font-size: 5vw;
  }
  /* line 234, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side {
    background-position: left bottom;
  }
  /* line 236, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side:before {
    border-right-width: 100vw;
    border-top-width: 100vw;
    top: 3em;
  }
  /* line 241, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .left_side .blurb {
    top: 35%;
    bottom: inherit;
  }
  /* line 246, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side {
    background-position: right top;
  }
  /* line 248, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side:before {
    border-left-width: 100vw;
    border-bottom-width: 100vw;
    bottom: 3em;
  }
  /* line 253, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side .splash_section_header h2 {
    padding-top: 0;
  }
  /* line 256, /Users/kleipper/Documents/code/katherineleippercom/app/assets/stylesheets/pages.scss */
  .splash .right_side .blurb {
    bottom: 35%;
    top: inherit;
  }
}
