#about
	%main
		.padded_container
			%p
				=link_to "Click here", "/assets/kleipper_resume_march2016.pdf"
				for my résumé in a print-friendly PDF!
	
	%figure.main_image
		=image_tag("portrait.jpg")
	%p.secondary_blurb
		Native of the greatest city on earth, Oakland, CA, and current resident of everyone's favorite place to hate, 
		Los Angeles. I have also lived in
		Seattle but it was too cold (sorry Seattle). I am a self-taught coder who attended the best clothing-optional pet-friendly  
		<a href="https://calarts.edu/">
		art school</a> and majored in Graphic Design, along with my dogchild, Acorn. Besides building things, 
		I enjoy urban exploring, nature exploring, <a href= "https://en.wikipedia.org/wiki/Black_Rock_Desert">harsh 
		desert environments</a>, playing with fire, <a href="http://www.atlasobscura.com/places/naval-air-station-alameda">derelict 
		places</a>, <a href="https://en.wikipedia.org/wiki/San_Francisco">dystopias</a>, rooting through <a href="http://apexelectronic.com/">old junk</a>, the occasional sewing project, 
		<a href="https://www.youtube.com/watch?v=NUs580DRn6k">abrasive 
		electronic music</a>, and <a href="http://www.flacos.com/">vegetarian food</a>.