#educational
	%main
		.padded_container
			%p= "Teaching experience and curriculum writing in programming and electronics for kids and adults."
	
	%figure.main_image
		=image_tag("bgc_hackathon2.jpg")
	%p.secondary_blurb
		In addition to being a coder and a creator, I feel passionate about sharing the knowledge and skills I have with others, 
		enabling them to be makers and technologists in their own right, especially those who, like me, are coming into tech 
		education through alternative paths. Through 2015, I worked with several organizations mentoring students of all demographics 
		and designing classes.

	.padded_container
		%section.details
			.right_side
				.banner_title
					%h2= "Black Girls Code"
				%figure
					=image_tag("bgc_imgs.jpg")
			.left_side
				%p
					BGC is a youth organization dedicated to STEM education for girls of color. I taught two multi-week after school and summer 
					programs, developed curriculum, and mentored at a couple of weekend hackathons. We primarily used MIT’s App Inventor tool for
					creating Android apps, but also delved into ideation and user experience design. During one program I introduced the girls to
					programming with Python, guiding them through how the concepts carried over from App Inventor. We also worked extensively on 
					community building, confidence, and fun bonuses like field trips. I was humbled by how quickly they picked things up and 
					the positive response of wanting to continue programming.

		%section.details
			.right_side 
				.banner_title
					%h2= "TechShop"
				%figure
					=image_tag("techshop_imgs.jpg")
			.left_side
				%p
					At this creative community fabrication space I designed and taught a 3-hour workshop on addressable LEDs. I instructed groups 
					of 2-8 adults on electronics basics, going into detail on how the LED chips work, fabrication techniques for assembling them, 
					and options for programming with a microcontroller or driver board. I enjoyed hearing about the projects my students hoped to 
					accomplish and seeing the excitement when we plugged the strips in at the end of the class and were able to control them from 
					a laptop.

		%section.details
			%p
				In addition to the above, I have been a mentor at an Arduino hackathon for women through CodeChix. I also keep an active 
				<a href="http://www.instructables.com/member/katherinel/">Instructables</a> account where I post tutorials on some of my 
				personal projects, which I hope others find useful and inspiring.