#dev_design
	.left_side
		.splash_section_header
			%h2="DEVELOPMENT"
		.blurb
			.edge.top
			%p= "Specializing in front-end dev, with professional experience in full stack Ruby on Rails."
			%span.continue= "Don't take my word for it"
			.edge.bottom

	.right_side
		.splash_section_header
			%h2="DESIGN"
		.blurb
			.edge.top
			%p= "Trained in traditional graphic design, with broad expertise in many areas: web, print, logos, branding, and more."
			%span.continue= "See for yourself"
			.edge.bottom
