#dev_design
	.left_side
		.splash_section_header
			%h2="DEVELOPMENT"
		.blurb
			%p= "Specializing in front-end dev, with professional experience in full stack Ruby on Rails."
			%span.continue= "Don't take my word for it"

	.right_side
		.splash_section_header
			%h2="DESIGN"
		.blurb
			%p= "Trained in traditional graphic design, with broad expertise in many areas: web, print, logos, posters, and more."
			%span.continue= "See for yourself"