.padded_container
	%ul#cat_filters
		- @categories.each do |c|
			%li
				%span.checkbox
				= "#{c.name}"
.padded_container
	- @projects.each do |p|
		= render partial: "shared/project_box", locals: { p: p }