$conduit_light: 100 1em "ConduitITCLight", Arial, Helvetica, sans-serif;
$conduit_light_italic: italic 100 1em "ConduitITCLightItalic", Arial, Helvetica, sans-serif;
$conduit_medium: 400 1em "ConduitITCMedium", Arial, Helvetica, sans-serif;
$conduit_medium_italic: italic 400 1em "ConduitITCMediumItalic", Arial, Helvetica, sans-serif;
$conduit_bold: 700 1em "ConduitITCBold", Arial, Helvetica, sans-serif;
$conduit_bold_italic: italic 700 1em "ConduitITCBoldItalic", Arial, Helvetica, sans-serif;