@import 'colors';
@import 'fonts';

$splash_size: 3em;
$blurb_size: 2em;
$padding-amt: 10%;
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*********** BEGIN CSS RESET ***********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********* END CSS RESET *********/

/********* FONTS *****************/

/* Webfont: ConduitITC-Light */@font-face {
    font-family: 'ConduitITCLight';
    src: asset-url('ConduitITC-Light1.eot'); /* IE9 Compat Modes */
    src: asset-url('ConduitITC-Light1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         asset-url('ConduitITC-Light1.woff') format('woff'), /* Modern Browsers */
         asset-url('ConduitITC-Light1.ttf') format('truetype'), /* Safari, Android, iOS */
         asset-url('ConduitITC-Light1.svg#ConduitITC-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ConduitITC-LightItalic */@font-face {
    font-family: 'ConduitITCLightItalic';
    src: asset-url('ConduitITC-LightItalic.eot'); /* IE9 Compat Modes */
    src: asset-url('ConduitITC-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         asset-url('ConduitITC-LightItalic.woff') format('woff'), /* Modern Browsers */
         asset-url('ConduitITC-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         asset-url('ConduitITC-LightItalic.svg#ConduitITC-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ConduitITC-Medium */@font-face {
    font-family: 'ConduitITCMedium';
    src: asset-url('ConduitITC-Medium.eot'); /* IE9 Compat Modes */
    src: asset-url('ConduitITC-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         asset-url('ConduitITC-Medium.woff') format('woff'), /* Modern Browsers */
         asset-url('ConduitITC-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         asset-url('ConduitITC-Medium.svg#ConduitITC-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ConduitITC-MediumItalic */@font-face {
    font-family: 'ConduitITCMediumItalic';
    src: asset-url('ConduitITC-MediumItalic.eot'); /* IE9 Compat Modes */
    src: asset-url('ConduitITC-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         asset-url('ConduitITC-MediumItalic.woff') format('woff'), /* Modern Browsers */
         asset-url('ConduitITC-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         asset-url('ConduitITC-MediumItalic.svg#ConduitITC-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: ConduitITC-Bold */@font-face {
    font-family: 'ConduitITCBold';
    src: asset-url('ConduitITC-Bold.eot'); /* IE9 Compat Modes */
    src: asset-url('ConduitITC-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         asset-url('ConduitITC-Bold.woff') format('woff'), /* Modern Browsers */
         asset-url('ConduitITC-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         asset-url('ConduitITC-Bold.svg#ConduitITC-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: ConduitITC-BoldItalic */@font-face {
    font-family: 'ConduitITCBoldItalic';
    src: asset-url('ConduitITC-BoldItalic.eot'); /* IE9 Compat Modes */
    src: asset-url('ConduitITC-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         asset-url('ConduitITC-BoldItalic.woff') format('woff'), /* Modern Browsers */
         asset-url('ConduitITC-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         asset-url('ConduitITC-BoldItalic.svg#ConduitITC-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/********* END FONTS *************/


body {
	font: $conduit_light;
	background-color: $dark-gray;
}

h1, h2, h3, h4, h5, h6, nav {
	font: $conduit_medium;
	color: $dark-gray;
}

a {
	text-decoration: none;
	&:link, &:visited {
		color: $dark-gray;
	}
	&:hover {
		border-bottom: 2px solid $dark-gray;
	}
}
p {
	color: $dark-gray;
	a {
		font: $conduit_bold;
	}
}

#everything_but_footer {
	padding: 15px 0;
	background-color: white;
}

.arrow_link {
	position: relative;
	&:after {
		content: " ";
		width: 0; 
		height: 0; 
		right: 0;
		margin-right: -0.6em;
		position: absolute;
		border-top: 0.35em solid transparent;
		border-bottom: 0.35em solid transparent;		
		border-left: 0.35em solid $dark-gray;
	}
}

.clearfix {
	overflow: hidden;
}

header {
	margin: auto;
	text-align: center;
	h1, h2 {
		font: $conduit_bold_italic;
		letter-spacing: 0.075em;
		text-transform: uppercase;
	}
	h1 {
		font-size: 3.125em;
		margin-bottom: 0.25em;
	}
	h2 {
		font-size: 1.5em;
	}
	.logo {
		width: 67px;
		height: 58px;
		display: inline-block;
		background: image_url("icon_sprite.png") no-repeat 0 0;
		margin-bottom: -0.25em;
	}
}

#menu_btn {
	display: none;
}

nav {
	ul {
		font-size: 1em;
		margin-top: 42px;
		text-align: center;
		width: 100%;
		min-width: 610px;
		li {
			display: inline-block;
			margin: 0 24px;
			padding: 14px;
			position: relative;
			height:16px;
			text-transform: uppercase;
			.arrow {
				display: hidden;
			}
			&:before, &:after {
				content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    top: 0px;
			}
			&:before {
				left: -44px;
		    border-left: 44px solid transparent;
		    border-bottom: 44px solid;
			}
			&:after {
				right: -44px;
				border-right: 44px solid transparent;
				border-top: 44px solid;
			}
			&.highlighted .arrow {
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				right: 50%;
				bottom: -0.5em;
				border-top: 0.5em solid $dark-gray;
				border-left: 0.5em solid transparent;
				border-right: 0.5em solid transparent;
			}
			&:nth-child(1) {
				background-color: $creamsicle;
				&:before {
					border-bottom-color: $creamsicle;
				}
				&:after {
					border-top-color: $creamsicle;
				}
			}
			&:nth-child(2) {
				background-color: $teal;
				&:before {
					border-bottom-color: $teal;
				}
				&:after {
					border-top-color: $teal;
				}
			}
			&:nth-child(3) {
				background-color: $purple;
				&:before {
					border-bottom-color: $purple;
				}
				&:after {
					border-top-color: $purple;
				}
			}
			&.current {
				font-size: 1.5em;
			}
		}
	}
}

#container {
	margin: 30px 0 90px 0;
	overflow: hidden;
}

.padded_container {
	padding: 0 $padding-amt;
}

footer {
	text-align: center;
	background-color: $dark-gray;
	padding: 32px 0;
	color: $white;
	&:before {
		content: ' ';
	  display: block;
	  clear: both;
	}
	li.ex_link {
		margin: 20px 3px 40px 3px;
		width: 110px;
		display: inline-block;
		text-transform: uppercase;
		a {
			color: $white;
			&:hover {
				border-bottom: 1px solid $white;
			}
			span.icon {
				display: block;
				background: image_url("icon_sprite.png") no-repeat;
				width: 45px;
				height: 39px;
				margin: 0 auto 10px auto;
				&.github {
					background-position: -68px 0px;
				}
				&.linkedin {
					background-position: -114px 0px;
				}
				&.instructables {
					background-position: -160px 0px;
				}
			}
		}
	}
	p {
		font-size: 0.8em;
	}
}
#flash_msgs .alert {
	margin: 1em 0;
	padding: 0.5em;
	color: white;
	&.alert-error {
		background-color: #FF4747;
	}
}
form .form_line {
	margin: 1em 0;
}

/************ END HEADER ***************/

.splash {
	overflow: hidden;
	&#dev_design {
		background: image_url("dev_design_splash_bkgd.png") no-repeat center;
	}
	&#edu {
		background: image_url("edu_splash_bkgd.png") no-repeat left;
		.left_side {
			width: 100%;
			&:before {
				border-top: 580px solid $purple;
			}
			&:after {
				content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    bottom: 0;
		    right: 0;
				border-left: $splash_size solid transparent;
				border-bottom: $splash_size solid $white;
			}
		}
		.blurb {
			width: 30%;
			left: 60%;
			top: 50%;
			bottom: inherit;
			right: inherit;
		}
	}
	.left_side, .right_side {
		float: left;
		width: 50%;
		height: 580px;
		position: relative;
		h2 {
			text-transform: uppercase;
		}
	}
	.left_side {
		&:before {
			content: " ";
			width: 0px;
	    height: 0px;
	    position: absolute;
	    top: 0;
	    left: 0;
			border-right: 580px solid transparent;
			border-top: 580px solid $burnt-orange;
		}
		.splash_section_header {
			&:before {
				content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    top: -1px; /* because it leaves a line at the top otherwise */
		    left: -$splash_size;
				border-left: $splash_size solid transparent;
				border-top: $splash_size solid $white;
			}
			h2 {
				padding-top: $splash_size/8;
				padding-left: $splash_size/6;
			}
		}
	}
	.right_side {
		&:before {
			content: " ";
			width: 0px;
			height: 0px;
			position: absolute;
			bottom: 0;
			right: 0;
			border-left: 580px solid transparent;
			border-bottom: 580px solid $teal;
		}
		.splash_section_header {
			position: absolute;
			right: $splash_size/2;
			bottom: 0;
			&:after {
				content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    bottom: 0;
		    right: -$splash_size;
				border-right: $splash_size solid transparent;
				border-bottom: $splash_size solid $white;
			}
			h2 {
				text-align: right;
				position: absolute;
				top: -$splash_size/8;
				right: $splash_size/6;
			}
		}
	}
	.splash_section_header {
		background-color: $dark-gray;
		height: $splash_size;
		width: 532px;
		margin-left: $splash_size/2;
		transform: skew(-45deg);
		-webkit-transform: skew(-45deg);
		-moz-transform: skew(-45deg);
		-o-transform: skew(-45deg);
		h2 {
			transform: skew(45deg);
			-webkit-transform: skew(45deg);
	   	-moz-transform: skew(45deg);
	    -o-transform: skew(45deg);
			font: $conduit_light;
			font-size: 5.7em;
			letter-spacing: 0.05em;
			color: $white;
			opacity: 0.5;
			line-height: 0.8em;
			width: $splash_size * 3;
		}
	}
	.blurb {
		width: 70%;
    min-width: 150px;
    position: absolute;
    padding: 0 $blurb_size;
    background: rgba(255, 255, 255, .7);
    p {
    	font: $conduit_light_italic;
    	font-size: 1.5em;
    	line-height: 1.4em;
    	margin-bottom: 0.5em;
    }
    .continue {
    	font: $conduit_bold;
     	font-size: 1.25em;
    	float: right;
    }
    .edge {
    	position: absolute;
    	background: rgba(255, 255, 255, .7);
    	height: $blurb_size;
    	width: -moz-calc(100% - #{$blurb_size});
    	width: -webkit-calc(100% - #{$blurb_size});
    	width: calc(100% - #{$blurb_size});
    	&.top {
    		right: 0;
    		top: -$blurb_size;
    		&:before {
    			content: " ";
					width: 0px;
			    height: 0px;
			    position: absolute;
			    top: 0;
			    left: -$blurb_size;
					border-left: $blurb_size solid transparent;
					border-bottom: $blurb_size solid rgba(255, 255, 255, .7);
    		}
    	}
    	&.bottom {
	    	left: 0;
	    	bottom: -$blurb_size;
	    	&:after {
	    		content: " ";
					width: 0px;
			    height: 0px;
			    position: absolute;
			    top: 0;
			    right: -$blurb_size;
					border-right: $blurb_size solid transparent;
					border-top: $blurb_size solid rgba(255, 255, 255, .7);
	    	}
	    }
	  }
	}
	.left_side .blurb {
		right: 20px;
    bottom: calc(50% - 20px);
	}
	.right_side .blurb {
		left: 0;
		top: 50%;
	}
}

#featured_projects {
	min-width: 750px;
	margin: 55px 0 40px 0;
	h3.featured {
		font-size: 1.125em;
		text-transform: uppercase;
		.projects_link {
			margin-left: 1em;
			text-transform: none;
		}
	}
}

.proj_box {
	width: 30%;
	margin: 1em 1.5%;
	float: left;
	overflow: hidden;
	height: 200px;
	position: relative;
	&:before {
		content: " ";
		width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
		border-right: 7em solid transparent;
		border-top: 7em solid rgba(255, 255, 255, 0.6);
	}
	&:after {
		content: " ";
		width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: -1em;
		border-left: $splash_size solid transparent;
		border-bottom: $splash_size solid $white;
	}
	.proj_image {
		position: relative;
		z-index: 0;
		width: 100%;
		min-width: 300px;
		min-height: 200px;
	}
	.proj_years {
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		padding: 3em 1em;
		&:before {
			content: " ";
			width: 0px;
	    height: 0px;
	    position: absolute;
	    bottom: 0;
	    right: 0;
			border-left: 10em solid transparent;
			border-bottom: 10em solid $light-gray;
			z-index: -1;
		}
		p.year {
		}
	}
	.proj_title {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		background-color: $dark-gray;
		transform: skew(-45deg);
		-webkit-transform: skew(-45deg);
		-moz-transform: skew(-45deg);
		-o-transform: skew(-45deg);
		width: 85%;
		h3 {
			text-transform: uppercase;
			padding: 0.5em 1em 1em 1.5em;
			margin: 0;
			transform: skew(45deg);
			-webkit-transform: skew(45deg);
			-moz-transform: skew(45deg);
			-o-transform: skew(45deg);
			a {
				color: $white;
				&:link, &:visited {
					color: $white;
				}
				&:hover {
					border-bottom: 2px solid $white;
				}
			}
		} 
	}
}
#project_page {
	section.info {
		margin-top: $splash_size;
		background-color: $light-gray;
		display: inline-block;
		width: 100%;

		.left_side, .right_side {
			float: left;
			margin-top: -$splash_size;
		}
		.left_side {
			position: relative;
			width: 60%;
			figure.cover_image {
				overflow: hidden;
				position: relative;
				img {
					margin-left: -moz-calc(50% - 500px);
    			margin-left: -webkit-calc(50% - 500px);
    			margin-left: calc(50% - 500px);
					display: block;
				}
			}
			.caption_outer {
				position: absolute;
				left: 60%;
				bottom: 10%;
				margin-left: 10%;
				.caption_corner {
					height: 0;
					width: 50%;
					min-width: 400px;
					&.top {
						border-bottom: $splash_size solid rgba(255, 255, 255, 0.7);
						border-left: $splash_size solid transparent;
					}
					&.bottom {
						border-top: $splash_size solid rgba(255, 255, 255, 0.7);
						border-right: $splash_size solid transparent;
					}
				}
				.caption_container {
					background-color: rgba(255, 255, 255, 0.7);
					padding: 0 $splash_size/2;
					width: 50%;
					min-width: 400px;
					figcaption {
						font: $conduit_medium_italic;
						font-size: 1.5em;
						line-height: 1.2em;
					}
				}
			}
		}
		.right_side {
			width: 40%;
			border-top: $splash_size solid $light-gray;
			dl {
				padding: 0 $splash_size $splash_size $splash_size;
				font: $conduit_bold;
				font-size: 1.2em;
				dt {
					color: $med-gray;
				}
				dd {
					color: $dark-gray;
					margin-bottom: 1em;
				}
			}
		}
	}
	section.details {
		.left_side, .right_side {
			float: left;
			width: 50%;
			padding-top: 3em;
			padding-bottom: 3em;
		}
		.left_side {
			figure.detail_image {
				margin-bottom: 1em;
				img {
					width: 100%;
				}
			}
		}
		.right_side {
			p.long_description {
				font-size: 1.2em;
				line-height: 1.2em;
				padding-left: 1em;
			}	
		}
	}
}

.banner_title {
	height: $splash_size;
	width: 100%;
	margin-left: $splash_size/2;
	transform: skew(-45deg);
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 2em;
		padding: .3em .8em;
		transform: skew(45deg);
		-webkit-transform: skew(45deg);
		-moz-transform: skew(45deg);
		-o-transform: skew(45deg);
	}
}

.delete_link {
	background-color: red;
	padding: 4px;
	margin-left: 20px;
	a {
		color: white;
	}
}
#educational {
	main {
		background-color: $light-teal;
	}
	figure.main_image {
		background-color: $light-teal;
	}
}
#about {
	main {
		background-color: $light-purple;
		p {
			text-align: center;
		}
	}
	figure.main_image {
		background-color: $light-purple;
	}
}

#educational, #about {
	main {
		font-size: 2em;
		padding: 0.5em 0;
		position: relative;
		&:before {
			content: " ";
			width: 0px;
	    height: 0px;
	    position: absolute;
	    top: 0;
			left: 0;
	    border-right: 2em solid transparent;
	    border-top: 2em solid white;
		}
	}
	figure.main_image {
		width: 30%;
		float: left;
		padding-left: $padding-amt;
		img {
			width: 100%;
			vertical-align: bottom;
		}
	}
	.secondary_blurb {
		margin: 1em $padding-amt 1em 1em;
		font-size: 1.4em;
		float: left;
		line-height: 1.2em;
		width: 45%;
	}
	section.details {
		clear: both;
		margin-bottom: 3em;
		display: inline-block;
		.banner_title {
			background-color: $teal;
		}
		.left_side, .right_side {
			float: right;
		}
		.left_side {
			padding-top: 3.5em;
			width: 35%;
		}
		.right_side {
			width: 65%;
		}
		p {
			line-height: 1.2em;
			padding-right: 1em;
		}
		figure img {
			width: 100%;
		}
	}
}

@media screen and (max-device-width: 750px) {
	header {
		margin-left: 3vw;
		width: 75vw;
		h1 {
			font-size: 7.1vw;
			.logo {
				width: 10vw;
				height: 8.5vw;
				background-size: 30vw;
			}
		}
		h2 {
			font-size: 3.2vw;
		}
	}
	#menu_btn {
		display: block;
		width: 15vw;
		height: 5px;
		border: 10px solid $teal;
		position: absolute;
		right: 0;
		top: 25px;
		background-color: $white;
		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: -35px;
			left: -10px;
			border: 10px solid $creamsicle;
			width: 15vw;
			height: 5px;
			background-color: $white;
		}
		&:after {
			content: " ";
			display: block;
			position: absolute;
			bottom: -35px;
			left: -10px;
			border: 10px solid $purple;
			width: 15vw;
			height: 5px;
			background-color: $white;
		}
		a {
			position: relative;
			color: $white;
		}
	}
	nav {
		display: none;
		ul {
			min-width: inherit;
			li {
				display: block;
				width: 100vw;
				font-size: 6vw;
				margin: 0;
				padding: 5vw 0;
				&:before, &:after {
					content: none;
				}
			}
		}
	}
	.splash {
		&#dev_design {
			background: none;
			.left_side, .right_side {
				background-image: url(/assets/dev_design_splash_bkgd-9988bb67726a46baa5eeb69eea5c32f75a9f740a23797a70340382a0a0a52525.png);
				background-repeat: no-repeat;				
			}
		}
		&#edu .blurb {
			top: 35%;
			bottom: inherit;
			left: 5%;
			right: 5%;
			width: 70%;
		}
		.splash_section_header {
			width: 100vw;
			h2 {
				max-width: 90vw;
			}
		}
		.left_side, .right_side {
			float: none;
			width: 100vw;
			height: calc(100vw + 3em);
			.splash_section_header h2 {
				padding-top: 0.75em;
				font-size: 14vw;
			}
			.blurb {
				left: 5%;
				right: 5%;
				p {
					font-size: 6vw;
				}
				.continue {
					font-size: 5vw;
				}
			}
		}
		.left_side {
			background-position: left bottom;
			&:before {
				border-right-width: 100vw;
				border-top-width: 100vw;
				top: 3em;
			}
			.blurb {
				top: 35%;
				bottom: inherit;
			} 
		}
		.right_side { 
			background-position: right top;
			&:before {
				border-left-width: 100vw;
				border-bottom-width: 100vw;
				bottom: 3em;
			}
			.splash_section_header h2 {
				padding-top: 0;
			}
			.blurb {
				bottom: 35%;
				top: inherit;
			}
		}
	}
	.padded_container {
		padding: 0 20px;
	}
	#featured_projects {
		min-width: inherit;
	}
	#project_page {
		section.info {
			.left_side, .right_side {
				width: 100%;
			}
			.left_side {
				.caption_outer {
					margin-left: 0;
					left: 0;
					bottom: 1em;
					.caption_corner, .caption_container {
						width: inherit;
						min-width: inherit;
					}
				}
			}
			.right_side {
				margin-top: 0;
			}
		}
		section.details {
			.left_side, .right_side {
				width: 100%;
			}
			.right_side {
				padding-top: 0;
			}
		}
	}
	#educational, #about {
		main:before {
			border-top-width: 0.8em;
			border-right-width: 0.8em;
		}
		figure.main_image {
			float: none;
			width: inherit;
			padding: 0;
		}
		.secondary_blurb {
			width: inherit;
			margin-right: 1em;
		}
		section.details {
			.banner_title {
				margin-left: 0;
				width: 120%;
			}
			figure {
				margin: 0 -1.4em;
			}
			.left_side, .right_side {
				float: none;
				width: inherit;
			}
			.left_side {
				padding-top: 1em;
			}
		}
	}
	.proj_box {
		float: none;
		width: 100%;
	}
}
