@import 'colors';

$splash_size: 3em;

#dev_design {
	.left_side, .right_side {
		float: left;
		width: 50%;
		height: 580px;
		position: relative;
	}
	.left_side {
		&:before {
			content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    top: 0;
		    left: 0;
				border-right: 580px solid transparent;
				border-top: 580px solid $creamsicle;
		}
		.splash_section_header {
			&:before {
				content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    top: 0;
		    left: -$splash_size;
				border-left: $splash_size solid transparent;
				border-top: $splash_size solid $white;
			}
			h2 {
				padding-top: $splash_size/20;
				padding-left: $splash_size/6;
			}
		}
	}
	.right_side {
		&:before {
			content: " ";
			width: 0px;
			height: 0px;
			position: absolute;
			bottom: 0;
			right: 0;
			border-left: 580px solid transparent;
			border-bottom: 580px solid $teal;
		}
		.splash_section_header {
			position: absolute;
			right: $splash_size/2;
			bottom: 0;
			&:after {
				content: " ";
				width: 0px;
		    height: 0px;
		    position: absolute;
		    bottom: 0;
		    right: -$splash_size;
				border-right: $splash_size solid transparent;
				border-bottom: $splash_size solid $white;
			}
			h2 {
				position: absolute;
				top: -$splash_size/6;
				right: $splash_size/6;
			}
		}
	}
	.splash_section_header {
		background-color: $dark-gray;
		height: $splash_size;
		width: 532px;
		margin-left: $splash_size/2;
		transform: skew(-45deg);
		-webkit-transform: skew(-45deg);
		-moz-transform: skew(-45deg);
		-o-transform: skew(-45deg);
		h2 {
			transform: skew(45deg);
			-webkit-transform: skew(45deg);
	   	-moz-transform: skew(45deg);
	    -o-transform: skew(45deg);
			font-size: 114px;
			font-family: "ConduitITCLight", Arial, Helvetica, sans-serif;
			color: $white;
			opacity: 0.5;
		}
	}
	.blurb {
		width: 70%;
    min-width: 150px;
    position: absolute;
    padding: 20px;
    background: rgba(255, 255, 255, .7);
    p {
    	font-size: 24px;
    	font-family: "ConduitITCLightItalic", Arial, Helvetica, sans-serif;
    	line-height: 1.4em;
    	margin-bottom: 0.5em;
    }
    .continue {
    	font-size: 20px;
    	font-family: "ConduitITCBold";
    	float: right;
    }
	}
	.left_side .blurb {
		right: 0;
    bottom: 50%;
	}
	.right_side .blurb {
		left: 0;
		top: 50%;
	}
}