@import 'colors';

ul#cat_filters {
	overflow: hidden;
	li {
		float: left;
		margin-right: 1em;
		font-family: "ConduitITCBold", Arial, Helvetica, sans-serif;
		font-size: 1.75em;
		color: $med-gray;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		.checkbox {
			width: 0.5em;
			height: 0.5em;
			border: 3px solid $med-gray;
			display: inline-block;
		}
	}
}